<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/reptill/pages/home.html">
      <img src="/reptill/images/logoo.png" height="50" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- MENU KIRI -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/reptill/pages/add_item.html">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" type="button" onclick="resetDatabase()"
            >Reset</a
          >
        </li>
      </ul>
      <!-- LOGOUT KANAN -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/reptill/index.html">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
